.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 4px 10px;
  padding-right: 4px;
  background-color: #a6cdc6;

  .btn {
    .icon {
      color: rgb(255, 135, 135);
    }

    &:hover {
      .icon {
        color: rgb(255, 28, 28);
      }
    }
  }
}
