@import './reset';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f4edd3;
  background-color: #B6CBBD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// TYPOGRAPHY

h1 {
  font-size: 32px;
  line-height: 1.5;
}

h2 {
  font-size: 26px;
  line-height: 1.5;
  text-align: center;
  color: #1e1e1e;
  margin: 0;
}
