.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    flex: 40px 0 0;
    color: #fff;
    background-color: #FBF5DD;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    flex: 1;

    .chargers {
      margin: 0 auto;
      margin-top: 40px;
      width: 95%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* see notes below */
      gap: 20px;
    }
  }
}
