.card {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  :global(.ant-card-head) {
    background-color: #16404d;
    color: #fff;
    border-radius: 4px 4px 0 0;
    min-height: 46px;
  }

  .block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .waiting-queue {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
